
name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repo
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Set image tag
      - name: Set image tag
        id: vars
        run: echo "TAG=${GITHUB_SHA}" >> $GITHUB_ENV

      # 4. Build and push image
      - name: Build and push Docker image
        run: |
          docker build -t oalexoprea/hello:${TAG} .
          docker push oalexoprea/hello:${TAG}

      # 5. Update Kubernetes manifest
      - name: Update manifest with new image tag
        run: |
          sed -i "s|image: oalexoprea/hello:.*|image: oalexoprea/hello:${TAG}|g" k8s/hello-deployment.yaml

      # 6. Commit and push changes
      - name: Commit and push
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add k8s/hello-deployment.yaml
          git commit -m "Update image tag to ${TAG}"
          git push
